@media (max-width: 1024px) {

    .btn-primary {
        padding: 8px 18px;
        font-size: 18px;
    }

    .btn-secondary {
        padding: 10px 18px;
        font-size: 18px;
    }

    .container {
        max-width: 1024px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    header .container {
        display: flex;
        max-width: 1024px;
        width: 100%;
        padding: 20px;
        align-items: center;
        padding-bottom: 50px;
    }

    nav {
        display: none;
    }

    .logo {
        display: flex;
        flex-direction: column;
    }

    .logo h2 {
        font-size: var(--text-secondary-tablet);
    }

    #tablet {
        border: none;
        width: fit-content;
        display: flex;
        background-color: transparent;
        transition: 1s;
    }

    #tablet:active {
        opacity: 60%;
        transform: scale(1.2);
    }

    #mobile {
        display: none;
    }

    #tablet img {
        width: 70px;
        height: 70px;
    }

    .main-text h2 {
        padding-top: 72px;
        font-size: 92px;
    }

    .main-text p.gradient {
        font-size: 92px;
    }

    .main-text-description {
        font-size: var(--text-secondary-tablet);
    }

    .input-email {
        font-size: var(--text-secondary-tablet);
        width: 400px;
        height: 60px;
    }

    .input-main {
        padding-bottom: 120px;
    }

    .input-main #send {
        font-family: "agrandir";
        font-weight: 600;
        font-size: var(--text-description-tablet);
    }

    .text-compain h2 {
        font-size: var(--text-primary-tablet);
    }

    .text-compain p {
        font-size: var(--text-secondary-tablet);
    }

    .trusted-compain {
        padding-bottom: 80px;
    }

    .parnters h2 {
        font-size: var(--text-secondary-tablet);
    }

    .parnters {
        width: 280px;
        gap: 10px;
    }

    .text-offer {
        width: 580px;
        align-items: center;
    }

    .text-offer h2 {
        padding-top: 60px;
        font-size: var(--text-primary-tablet);
    }

    .text-offer p {
        font-size: var(--text-secondary-tablet);
    }

    .item-row {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .advantages {
        width: 580px;
        padding: 18px;
    }

    .advantages img {
        width: 72px;
        height: 92px;
    }

    .advantages h2 {
        font-size: var(--text-primary-tablet);
    }

    .advantages p {
        padding-bottom: 30px;
        font-size: var(--text-secondary-tablet);
    }

    .searching-man {
        padding: 90px 0px 85px 0px;
    }

    .searching-man img {
        max-width: 580px;
        width: 50%;
        max-height: 205px;
        height: 50%;
    }

    .searching-man h2 {
        font-size: var(--text-primary-tablet);
    }

    .searching-man p {
        font-size: var(--text-secondary-tablet);
    }

    .searching-man-text .btn-secondary {
        font-size: var(--text-secondary-tablet);
    }

    .our-work {
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }

    .pieces {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }

    .pieces .btn-secondary {
        font-size: var(--text-secondary-tablet);
    }

    .pieces h2 {
        font-size: var(--text-primary-tablet);
    }

    .pieces p {
        font-size: var(--text-secondary-tablet);
    }

    .portfolio {
        padding: 60px 0px 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-work {
        max-width: 1000px;
        width: 100%;
        padding: 20px;
    }

    .card-work h2 {
        padding: 24px 0px 24px 0px;
        font-size: var(--text-primary-tablet);
    }

    .card-work p.category {
        margin-top: 20px;
        padding: 12px 12px;
        font-size: var(--text-secondary-tablet);
    }

    .card-work p.read {
        margin-bottom: 20px;
        font-size: var(--text-secondary-tablet);
    }

    .card-work #purple-background {
        max-width: 900px;
        width: 100%;
    }

    .card-work-row {
        gap: 40px;
    }

    .reviews-text h2 {
        font-size: var(--text-primary-tablet);
    }

    .reviews-text .btn-main {
        display: none;
    }

    .reviews-content {
        padding: 60px 0px 50px 0px;
    }

    .reviews-text {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .reviews-text .btn-main {
        font-size: var(--text-secondary-tablet);
        gap: 12px;
        display: none;
    }

    .reviews-text .btn-secondary {
        font-size: var(--text-secondary-tablet);
        width: 40px;
        padding: 10px;
    }

    .people {
        gap: 2px;
        padding-bottom: 10px;
    }

    .reviews-people h2.name {
        font-size: var(--text-secondary-tablet);
    }

    .reviews-people p.city {
        font-size: var(--text-secondary-tablet);
    }

    .reviews-people p.comment {
        font-size: var(--text-secondary-tablet);
    }

    .reviews-people {
        padding: 12px;
        max-width: 500px;
        width: 100%;
        flex-shrink: 0;
    }

    .reviews-people img {
        width: 90px;
        height: 90px;
    }

    .reviews {
        position: relative;
        overflow-x: scroll;
        margin-left: auto;
        margin-right: auto;
        width: calc(500px * 1 + 0px);
        gap: 30px;
        padding: 5px;
        padding-bottom: 15px;
    }

    .reviews::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .dots {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

    .dot {
        width: 22px;
        height: 22px;
        border: 1px solid var(--color-text);
        border-radius: 100%;
        background-color: #1A365D;
        align-items: center;
        transition: 0.5s;
    }

    .dot a {
        width: 15px;
        height: 15px;
    }

    .dot:hover {
        transition: 0.5s;
        transform: scale(2);
        background-color: var(--color-accent);
    }

    .discuss {
        padding-top: 65px;
    }

    .discuss h2 {
        font-size: 36px
    }

    .discuss p {
        font-size: var(--text-secondary-tablet);
    }

    .discuss .message .input-email {
        font-size: var(--text-secondary-tablet);
        height: 62px;
    }

    #scrol-to-top {
        font-size: var(--text-description-tablet);
    }

    .message .btn-primary {
        padding: 14px 28px;
        font-size: 16px;
    }

    .footer-list {
        align-items: flex-start;
    }

    .footer-list ul {
        gap: 18px;
    }

    .footer-list a {
        font-size: var(--text-secondary-tablet);
    }

    footer ul.footer-row {
        display: none;
        /* Была идея создать копию footer-list и один скрыть,а второй оставить,и на втором уже делать все
        но мне показалась эта идея плохой,по другому я не могу понять как переместить 2 списка друг под друга */
    }

    .footer-feedback {
        gap: 18px;
        max-width: 200px;
        width: 100%;
    }

    .footer-logo {
        gap: 10px;
    }

    .footer-logo h2 {
        font-size: var(--text-primary-tablet);
    }

    .footer-feedback p:nth-of-type(1) {
        font-size: var(--text-secondary-tablet);
    }

    .footer-feedback .input-email {
        max-width: 230px;
        height: 40px;
        font-size: var(--text-secondary-tablet);
    }

    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .about-us-text {
        max-width: 1000px;
        width: 100%;
    }

    .about-us-text h1 {
        font-size: 64px;
    }

    .about-us-text h2 {
        font-size: var(--text-secondary-tablet);
    }

    .about-us-text p {
        font-size: var(--text-secondary-tablet);
    }

    .about-us-text .btn-primary {
        font-size: var(--text-secondary-tablet);
    }

    .about-compain h2 {
        padding-bottom: 15px;
        font-size: var(--text-primary-tablet);
    }

    .about-compain .btn-secondary {
        font-size: var(--text-secondary-tablet);
    }

    .about-compain p {
        font-size: var(--text-secondary-tablet);
    }

    .branding-primary-text {
        padding-bottom: 100px;
    }

    .branding-primary-text .btn-primary {
        font-size: var(--text-description-tablet);
        padding: 14px 28px;
    }

    .branding-primary-text h2 {
        font-size: 28px;
    }

    .branding-primary-text p {
        font-size: 20px;
    }

    .process-text h2 {
        font-size: 38px;
    }

    .process-text p {
        font-size: 22px;
    }

    .works {
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .branding-secondary-text h2 {
        font-size: 38px;
        text-align: center;
    }

    .we-work {
        max-width: 700px;
        width: 100%;
    }

    .we-work #purple-background {
        max-width: 700px;
        width: 100%;
    }

    .we-work h2 {
        font-size: 30px;
    }

    .works p.read {
        font-size: 22px;
    }

    .other-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages-other-card {
        max-width: 700px;
        width: 100%;
    }

    .advantages-other-card img {
        width: 82px;
        height: 82px;
    }

    .advantages-other-card h2 {
        font-size: 38px;
    }

    .advantages-other-card p {
        font-size: 22px;
    }

    .other-service-text h2 {
        font-size: 38px;
        padding-bottom: 50px;
        text-align: center;
    }

    .other-btn .btn-secondary {
        font-size: 22px;
        padding: 14px 28px;
    }

    .other-btn {
        display: flex;
        justify-content: flex-end;
    }
}