@media (max-width: 580px) {

    .container {
        /* тут хз как правильно прописать именно размер контейнреа,ибо на разных экранах разное разрешение */
        width: 100%;
        padding: 0px 15px 0px 15px;
    }

    .input-email {
        padding: 12px;
    }

    header .container {
        padding: 20px 15px 30px 15px;
    }

    .trusted-compain {
        gap: 16px;
        padding-bottom: 50px;
    }

    .text-trusted h2 {
        font-size: var(--text-primary);
    }

    .text-compain p {
        font-size: var(--text-description);
    }

    .text-compain {
        padding-top: 50px;
    }

    .parnters {
        font-size: var(--text-secondary);
        height: 40px;
        width: 99px;
        padding: 8px 12px;
    }

    .parnters-row {
        gap: 18px;
    }

    .parnters h2 {
        font-size: 12px;
    }

    .parnters img {
        width: 20px;
    }

    .parnters .no-size {
        width: 80px;
    }

    .logo {
        flex-direction: column;
    }

    .logo h2 {
        font-size: var(--text-secondary);
    }

    .logo img {
        width: 28px;
        height: 28px;
    }

    nav ul {
        font-size: var(--text-secondary);
    }

    nav a {
        font-size: var(--text-secondary);
        align-items: center;
    }

    .btn-secondary {
        padding: 5px 12px;
        font-size: var(--text-secondary);
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-text {
        padding-top: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    p.main-text-description {
        font-size: var(--text-secondary);
        text-align: center;
        width: 200px;
    }

    #send {
        padding: 8px 15px;
        font-size: var(--text-description);
        border-radius: 23px;
    }

    #mobile {
        padding-right: 15px;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        display: flex;
        justify-content: end;
        transition: 0.7s;
        width: 38px;
        height: 38px;
    }

    .btn-menu:active {
        transform: scale(1.1);
        opacity: 50%;
    }

    nav {
        display: none;
    }

    #tablet {
        display: none;
    }

    .input-main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
    }

    .input-main .btn-primary {
        padding: 6px 12px;
    }

    .main-text .input-email {
        height: 40px;
        max-width: 200px;
        width: 100%;
        font-size: var(--text-secondary);
    }

    .main-text h2 {
        font-size: 50px;
    }

    .main-text p.gradient {
        font-size: 50px;
    }

    .text-offer {
        max-width: 317px;
        width: 100%;
    }

    .text-offer h2 {
        font-size: var(--text-primary);
        padding-top: 40px;
        padding-bottom: 18px;
    }

    .text-offer p {
        font-size: var(--text-secondary);
    }

    .options {
        width: 100%;
        gap: 10px;
        padding-bottom: 30px;
    }

    .item-row {
        gap: 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .advantages {
        max-width: 280px;
        width: 100%;
        padding: 10px 15px;
    }

    .advantages img {
        padding-bottom: 12px;
        width: 30px;
        height: 44px;
    }

    .advantages h2 {
        font-size: var(--text-primary);
        padding-bottom: 8px;
    }

    .advantages p {
        font-size: var(--text-secondary);
        padding-bottom: 15px;
    }

    .searching-man img {
        max-width: 200px;
        width: 100%;
        max-height: 100px;
        height: 100%;
    }

    .searching-man-text {
        max-width: 580px;
        width: 100%;
    }

    .searching-man h2 {
        font-size: var(--text-primary);
        padding-bottom: 12px;
    }

    .searching-man p {
        padding-bottom: 16px;
        font-size: var(--text-secondary);
    }

    .searching-man .btn {
        padding: 5px 12px;
        font-size: var(--text-description);
    }

    .searching-man {
        padding: 50px 0px 50px 0px;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0px 40px 0px;
    }

    .portfolio h2 {
        padding-bottom: 10px;
        font-size: var(--text-primary);
    }

    .portfolio p {
        padding-bottom: 14px;
        font-size: var(--text-secondary);
    }

    .our-work {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .card-work {
        max-width: 412px;
        width: 100%;
        padding: 10px;
    }

    .card-work h2 {
        padding: 10px 0px 10px 0px;
        font-size: var(--text-primary);
    }

    .card-work p.category {
        margin-top: 12px;
        padding: 4px 4px;
        font-size: var(--text-secondary);
    }

    .card-work p.read {
        margin-bottom: 12px;
        font-size: var(--text-secondary);
    }

    .card-work #purple-background {
        max-width: 350px;
        width: 100%;
        max-height: 100px;
        height: 100%;
    }

    .card-work-row {
        gap: 15px;
    }

    .pieces {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        width: 100%;
        padding-bottom: 20px;
    }

    .pieces .btn-secondary {
        align-items: center;
        font-size: var(--text-description);
        padding: 5px 12px;
    }

    .reviews-content {
        padding: 40px 0px 30px 0px;
    }

    .reviews-text {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .reviews-text h2 {
        font-size: var(--text-secondary);
    }

    .reviews-text .btn-main {
        font-size: var(--text-secondary);
        gap: 12px;
        display: none;
    }

    .reviews-text .btn-secondary {
        font-size: var(--text-secondary);
        width: 40px;
        padding: 10px;
    }

    .reviews-people img {
        width: 30px;
        height: 30px;
    }

    .reviews-people:nth-child(3) img {
        width: 24px;
        height: 24px;
    }

    .reviews-people:nth-child(4) img {
        width: 24px;
        height: 24px;
    }

    .people {
        gap: 2px;
        padding-bottom: 10px;
    }

    .reviews-people h2.name {
        font-size: var(--text-secondary);
    }

    .reviews-people p.city {
        font-size: var(--text-secondary);
    }

    .reviews-people p.comment {
        font-size: var(--text-secondary);
    }

    .reviews-people {
        padding: 12px;
        max-width: 250px;
        width: 100%;
        flex-shrink: 0;
    }

    .reviews {
        position: relative;
        overflow-x: scroll;
        margin-left: auto;
        margin-right: auto;
        width: calc(250px * 1 + 0px);
        gap: 12px;
        padding: 5px;
        padding-bottom: 15px;
    }

    .reviews::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .dots {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .dot {
        width: 12px;
        height: 12px;
        border: 1px solid var(--color-text);
        border-radius: 100%;
        background-color: #1A365D;
        align-items: center;
        transition: 0.5s;
    }

    .dot a {
        width: 8px;
        height: 8px;
    }

    .dot:hover {
        transition: 0.5s;
        transform: scale(1.5);
        background-color: var(--color-accent);
    }

    .discuss {
        padding-top: 40px;
    }

    #scrol-to-top {
        font-size: var(--text-description);
    }

    .discuss-text {
        padding: 40px 0px 40px 0px;
    }

    .discuss h2 {
        font-size: var(--text-primary);
        padding-bottom: 12px;
    }

    .discuss p {
        font-size: var(--text-secondary);
        padding-bottom: 16px;
        width: 300px;
    }

    .discuss .message {
        gap: 6px;
        width: 200px;
    }

    .discuss .message .input-email {
        width: 160px;
        padding: 13px;
        height: 20px;
        font-size: var(--text-secondary);
    }

    .message #send {
        padding: 8px 12px;
        font-size: 14px;
    }

    .discuss .btn {
        margin: 10px 0px 10px 0px;
        padding: 8px 12px;
        font-size: var(--text-description);
    }

    .footer-list {
        max-width: 580px;
        width: 100%;
        align-items: flex-start;
        gap: 18px;
    }

    .footer-list ul {
        gap: 12px;
    }

    .footer-list a {
        font-size: 14px;
    }

    .footer-feedback {
        gap: 12px;
        max-width: 200px;
        width: 100%;
    }

    .footer-logo {
        gap: 10px;
    }

    .footer-logo h2 {
        font-size: var(--text-secondary);
    }

    .footer-feedback p:nth-of-type(1) {
        font-size: 16px;
    }

    .footer-feedback .input-email {
        max-width: 130px;
        height: 20px;
        font-size: var(--text-description);
    }

    .footer-feedback img {
        width: 28px;
        height: 28px;
    }

    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }

    .footer-about-us {
        max-width: 580px;
        width: 100%;
    }


    .about-us {
        padding: 32px 0px 80px 0px;
    }

    .about-us-text h1 {
        font-size: var(--text-primary);
    }

    .about-us-text h2 {
        font-size: var(--text-secondary);
    }

    .about-us-text .btn-primary {
        font-size: var(--text-description);
        padding: 8px 16px;
    }

    .about-us-text p {
        font-size: var(--text-secondary);
    }

    .about-us-text .btn-primary:active {
        transform: scale(1.1);
        transition: 0.8;
    }

    .team {
        padding-bottom: 30px;
    }

    .company {
        padding: 30px 0px 40px 0px;
    }

    .about-compain {
        padding-bottom: 30px;
    }

    .about-compain h2 {
        padding-bottom: 16px;
        font-size: var(--text-primary);
    }

    .about-compain p {
        font-size: var(--text-description);
    }

    .about-compain .btn-secondary {
        font-size: var(--text-description);
        padding: 8px 16px;
    }

    .about-button {
        display: flex;
        justify-content: flex-end;
    }

    .branding {
        padding-bottom: 80px;
    }

    .branding-primary-text {
        gap: 8px;
    }

    .branding-primary-text h2 {
        font-size: var(--text-primary);
    }

    .branding-primary-text h1 {
        font-size: 32px;
    }

    .branding-primary-text p {
        font-size: var(--text-secondary);
    }

    .branding-primary-text .btn-primary {
        font-size: var(--text-description);
        padding: 6px 14px;
    }

    .process-text {
        padding: 40px 0px 40px 0px;
    }

    .process-text h2 {
        font-size: 26px;
    }

    .process-text p {
        font-size: var(--text-description);
    }

    .branding-secondary-text h2 {
        font-size: 26px;
        text-align: center;
    }

    .works {
        padding: 0px 25px 0px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .we-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 412px;
        width: 100%;
        padding: 15px;
    }

    .we-work #purple-background {
        max-width: 412px;
        width: 100%;
        max-height: 100px;
        height: 100%;
    }

    .other-service-text h2 {
        font-size: 26px;
        text-align: center;
    }

    .other-card {
        padding: 0px 25px 0px 25px;
        flex-direction: column;
        align-items: center;
    }

    .advantages-other-card {
        padding: 15px;
    }

    .advantages-other-card h2 {
        font-size: 24px;
    }

    .advantages-other-card p {
        font-size: 16px;
    }

    .advantages-other-card img {
        width: 52px;
        height: 52px;
    }

    .other-btn {
        display: flex;
        justify-content: flex-end;
    }

    .other-btn .btn-secondary {
        font-size: var(--text-description);
        padding: 8px 16px;
    }
}

@media (hover: none) {

    .btn-main .btn-secondary:nth-child(n) {
        transition: 1s;
    }

    .btn-main .btn-secondary:nth-child(1):active {
        transform: scale(1.1);
        opacity: 70%;
    }

    .btn-main .btn-secondary:nth-child(2):active {
        transform: scale(1.1);
        opacity: 70%;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(1) .read:active {
        color: transparent;
        background-image: linear-gradient(100deg, var(--gradient));
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(1) .read img:active {
        transform: scale(1.2);
    }

    .card-work-row:nth-child(1) .card-work:nth-child(2) .read:active {
        background-color: var(--color-text);
        color: red;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(2) .read img:active {
        transform: rotate(170deg);
    }

    .card-work-row:nth-child(1) .card-work:nth-child(3) .read:active {
        background-color: var(--color-text);
        color: #1A365D;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(3) .read img:active {
        transform: translate(30px);
    }

    .card-work-row:nth-child(2) .card-work:nth-child(1) .read:active {
        background-image: ("../image/logo.png");
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(2) .card-work:nth-child(2) .read:active {
        color: orange;
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    .card-work-row:nth-child(2) .card-work:nth-child(3) .read:active {
        color: transparent;
        background-image: linear-gradient(blue 50%, yellow 50%);
        background-clip: text;
        -webkit-background-clip: text;
    }
}