* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandHeavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-TextBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandLight.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-SemiBold.ttf);
    font-weight: 600;
}

body>*:nth-child(n) {
    background-color: var(--background-primary);
}

body>*:nth-child(2n+3) {
    background-color: var(--background-secondary);
}

:root {
    --background-primary: #110F0F;
    --background-secondary: #000000;
    --color-accent: #FFA800;
    --color-text: #fff;
    --gradient: #9DE8EE 0%, #FA7C0B 49%, #9F8CED 100%;
    --border: 1px solid #A1AEBF;
    --text-secondary: 24px;
    --text-primary: 30px;
    --text-description: 18px;
    --text-primary-tablet: 38px;
    --text-secondary-tablet: 30px;
    --text-description-tablet: 22px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-primary {
    font-weight: 700;
    font-family: "agrandir";
    color: var(--background-secondary);
    padding: 16px 24px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.btn-secondary {
    font-weight: 700;
    font-family: "agrandir";
    cursor: pointer;
    padding: 12px 24px;
    color: var(--color-accent);
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid var(--color-accent);
}

.input-email {
    border: 1px solid var(--color-text);
    width: 320px;
    padding: 16px;
    border-radius: 50px;
    background-color: var(--background-secondary);
    color: var(--color-text);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    align-items: center;
    padding: 25px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    float: left;
}

.logo h2 {
    display: flex;
    gap: 15px;
    font-weight: 800;
    font-size: 16px;
    color: var(--color-text);
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "agrandir";
    font-weight: 500;
    font-size: 16px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}

nav a {
    align-items: center;
    gap: 3px;
    display: flex;
    text-decoration: none;
    color: var(--color-text);
}

.btn-menu {
    display: none;
}



.main-text {
    width: 100%;
    max-width: 523px;
    margin: 0 auto;
}

.main-text p.gradient {
    font-size: 96px;
    color: transparent;
    background-image: linear-gradient(270deg, var(--gradient));
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
}


.main-text h2 {
    font-family: "agrandir";
    font-weight: 700;
    font-size: 96px;
    color: var(--color-text);
}

.main-text-description {
    font-family: "agrandir";
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    opacity: 60%;
    padding-top: 16px;
    padding-bottom: 32px;
}

.input-main {
    display: flex;
    padding-bottom: 208px;
    gap: 16px;
}

.text-compain {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
}

.text-compain p {
    opacity: 60%;
    font-family: "agrandir";
    font-size: 16px;
    font-weight: 400;
}

.text-compain h2 {
    font-family: "agrandir";
    font-size: 40px;
    font-weight: 700;
}

.text-trusted {
    padding-bottom: 64px;
    max-width: 634px;
    width: 100%;
}

.content {
    display: flex;
    position: relative;
    overflow: hidden;
}

.trusted-compain {
    padding-bottom: 124px;
    max-width: 1300px;
    width: 100%;
    color: var(--color-text);
    display: flex;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.parnters-row {
    gap: 24px;
    display: flex;
}

.parnters-row:nth-of-type(1) {
    padding-left: 24px;
}

.parnters-row:nth-of-type(2) {
    padding-left: 58px;
    position: relative;
    display: flex;
    left: -500px;
}

.parnters {
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    width: 198px;
    padding: 16px 24px;
    height: 72px;
    border: var(--border);
    border-radius: 5px;
}

.parnters h2 {
    font-family: "Quicksand";
    font-size: 24px;
    font-weight: 700;
}

.parnters-row:nth-child(2) .parnters:nth-of-type(1) {
    position: relative;
}

.text-offer {
    margin: 0 auto;
    text-align: center;
    width: 634px;
}

.text-offer h2 {
    font-weight: 700;
    font-family: "agrandir";
    font-size: 40px;
    color: var(--color-text);
    padding-top: 80px;
    padding-bottom: 24px;
}

.text-offer p {
    text-align: center;
    color: var(--color-text);
    font-size: 16px;
    font-family: "agrandir";
    font-weight: 400;
    opacity: 60%;
    padding-bottom: 40px;
}

.options {
    max-width: 1078px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 75px;
}

.item-row {
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.advantages {
    border: var(--border);
    border-radius: 5px;
    width: 338px;
    padding: 20px;

}

.advantages h2 {
    padding-bottom: 12px;
    font-family: "agrandir";
    font-size: 28px;
    font-weight: 700;
    color: var(--color-text);
}

.advantages p {
    font-family: "agrandir";
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text);
    opacity: 60%;
    padding-bottom: 40px;
}

.advantages img {
    padding-bottom: 20px;
}

.searching-man {
    padding: 120px 0px 115px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searching-man-text {
    color: var(--color-text);
    font-family: "agrandir";
}

.searching-man-text h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 16px;
}

.searching-man-text p {
    font-weight: 400;
    font-size: 16px;
    opacity: 60%;
    padding-bottom: 32px;
}

.searching-man-text .btn-secondary {
    padding: 12px 24px;
}

.portfolio {
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: space-between;
    font-family: "Quicksand";
    color: var(--color-text);
}

.pieces {
    width: 412px;
    color: var(--color-text);
}

.pieces h2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 16px;
}

.pieces p {
    opacity: 60%;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 24px;
}

.pieces .btn-secondary {
    padding: 12px 24px;
}

.our-work {
    display: flex;
    gap: 32px;
}

.card-work-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-work {
    border: var(--border);
    border-radius: 5px;
    max-width: 412px;
    width: 100%;
    padding: 20px;
}

.card-work p.category {
    margin-top: 24px;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 12px;
    color: #1A365D;
    background-color: var(--color-accent);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 4px 8px;
    width: fit-content;
}

.card-work p.read {
    transition: 0.3s;
    margin-bottom: 24px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
    color: var(--color-text);
    gap: 4px;
    width: fit-content;
}

.card-work h2 {
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-text);
}

.card-work-row .read:nth-child(n) {
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
}

@media (hover: hover) {

    .card-work-row:nth-child(1) .card-work:nth-child(1) .read:hover {
        color: transparent;
        background-image: linear-gradient(100deg, var(--gradient));
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(1) .read img:hover {
        transform: scale(1.2);
    }

    .card-work-row:nth-child(1) .card-work:nth-child(2) .read:hover {
        background-color: var(--color-text);
        color: red;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(2) .read img:hover {
        transform: rotate(170deg);
    }

    .card-work-row:nth-child(1) .card-work:nth-child(3) .read:hover {
        background-color: var(--color-text);
        color: #1A365D;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(1) .card-work:nth-child(3) .read img:hover {
        transform: translate(30px);
    }

    .card-work-row:nth-child(2) .card-work:nth-child(1) .read:hover {
        background-image: ("../image/logo.png");
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .card-work-row:nth-child(2) .card-work:nth-child(2) .read:hover {
        color: orange;
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    .card-work-row:nth-child(2) .card-work:nth-child(3) .read:hover {
        color: transparent;
        background-image: linear-gradient(blue 50%, yellow 50%);
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.reviews-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
}

.reviews-text h2 {
    font-family: "agrandir";
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text);
    display: flex;
    align-items: flex-end;
}

.reviews-text .btn-main {
    gap: 24px;
    display: flex;
    justify-content: flex-end;
}

.reviews-text .btn-secondary {
    width: 60px;
    padding: 20px;
    border-radius: 0;
}

.reviews-content {
    padding: 80px 0px 96px 0px;
}

.reviews {
    display: flex;
    justify-content: space-between;
}

@media (hover: hover) {

    .reviews:nth-child(n) {
        cursor: pointer;
    }

    .reviews-people:nth-child(n) {
        transition: 0.5s;
    }

    .reviews-people:nth-child(1):hover {
        transform: scale(1.1);
    }

    .reviews-people:nth-child(2):hover {
        transform: scale(1.1);
    }

    .reviews-people:nth-child(3):hover {
        transform: scale(1.1);
    }

    .reviews-people:nth-child(4):hover {
        transform: scale(1.1);
    }

}

.reviews-people {
    padding: 24px;
    height: fit-content;
    width: 307px;
    border: var(--border);
    border-radius: 4px;
}

.people {
    align-items: center;
    display: flex;
    gap: 8px;
    padding-bottom: 20px;
}

.people-info {
    display: flex;
    flex-direction: column;
}

.reviews-people h2.name {
    color: var(--color-text);
    font-family: "agrandir";
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text);
}

.reviews-people p.city {
    opacity: 60%;
    font-family: "agrandir";
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text);
}

.reviews-people p.comment {
    font-family: "agrandir";
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text);
}

.dots {
    display: none;
}

.discuss {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}

.discuss .btn {
    padding: 12px 24px;
    background-color: transparent;
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    margin: 18px 0px 20px 0px;
}

.discuss-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-accent);
    max-width: 1300px;
    width: 100%;
    padding: 80px 0px 80px 0px;
}

.discuss h2 {
    font-family: "agrandir";
    font-weight: 700;
    font-size: 40px;
    color: var(--background-primary);
    padding-bottom: 16px;
}

.discuss p {
    width: 511px;
    font-family: "agrandir";
    font-weight: 400;
    font-size: 16px;
    opacity: 60%;
    padding-bottom: 32px;
}

.discuss .message .input-email {
    width: 320px;
    height: 52px;
    background-color: var(--color-text);
    color: var(--background-secondary);
}

.message .btn-primary {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--background-secondary);
    color: var(--color-text);
}

.discuss .message {
    width: 412px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (hover: hover) {

    .btn-main .btn-secondary:nth-of-type(n) {
        transition: 0.3s;
    }

    .btn-secondary:nth-of-type(1):hover {
        transform: scale(1.1);
        opacity: 70%;
    }

    .btn-main .btn-secondary:nth-of-type(2):hover {
        transform: scale(1.1);
        opacity: 70%;
    }
}

footer .container {
    text-align: center;
    color: var(--color-text);
    padding-top: 80px;
}

footer p.signature {
    opacity: 60%;
    font-family: "agrandir";
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    padding: 80px 0px 40px 0px;
}

.footer-list li:nth-of-type(n) {
    opacity: 60%;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 16px;
}

.footer-list li:nth-child(1) {
    opacity: 100%;
    font-family: "agrandir";
    font-weight: 700;
    font-size: 16px;
}

.footer-list a {
    text-decoration: none;
    color: var(--color-text);
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
}

.footer-list {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: start;
}

.footer-feedback {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    width: 100%;
}

.footer-feedback p {
    opacity: 60%;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.footer-feedback .input-email {
    width: 260px;
    height: 43px;
    font-size: 13px;
}

.footer-feedback p:nth-of-type(1) {
    font-family: "agrandir";
    font-size: 14px;
    font-weight: 300;
}

.about-us {
    padding-top: 72px;
    padding-bottom: 163px;
}

.about-us-text {
    font-family: "agrandir";
    max-width: 523px;
    width: 100%;
}

.about-us-text h2 {
    color: var(--color-accent);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
}

.about-us-text h1 {
    padding-bottom: 16px;
    font-size: 64px;
    font-weight: 700;
    color: var(--color-text);
}

.about-us-text p {
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    opacity: 60%;
}

.about-us-text .btn-primary {
    padding: 12px 24px;
    font-family: "agrandir";
    font-size: 14px;
    font-weight: 700;
}

.about-compain {
    padding-bottom: 66px;
    font-family: "agrandir";
    color: var(--color-text);
}

.about-compain h2 {
    font-size: 32px;
    font-weight: 700;
}

.about-compain p {
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
}

.company {
    padding: 70px 0px 70px 0px;
}

.team {
    padding-bottom: 66px;
}

.about-compain .btn-secondary {
    padding: 12px 24px;
    font-family: "agrandir";
    font-weight: 700;
}

.branding-primary-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    max-width: 523px;
    width: 100%;
    font-family: "agrandir";
    color: var(--color-text);
    padding-bottom: 163px;
}

.branding-primary-text h1 {
    font-size: 64px;
    font-weight: 700;
}

.branding-primary-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-accent);
}

.branding-primary-text p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;
}

.branding-primary-text .btn-primary {
    font-weight: 700;
    padding: 12px 24px;
}

.process-text {
    max-width: 971px;
    width: 100%;
    padding: 70px 0px 70px 0px;
    font-family: "agrandir";
    color: var(--color-text);
}

.process-text h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.process-text p {
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
}

.branding-secondary-text h2 {
    color: var(--color-text);
    font-family: "agrandir";
    font-size: 32px;
    font-weight: 700;
    padding: 22px 0px 32px 0px;
}

.we-work {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    max-width: 412px;
    width: 100%;
    padding: 24px;
}

.works {
    padding-bottom: 70px;
    justify-self: space-between;
    display: flex;
    gap: 16px;
}

.works p.read {
    display: flex;
    opacity: 60%;
    font-family: "agrandir";
    font-size: 16px;
    font-weight: 400;
}

.works h2 {
    font-family: "agrandir";
    font-size: 24px;
    font-weight: 700;
    padding: 24px 0px 20px 0px;
}

.other-service {
    padding-top: 70px;
}

.other-service-text h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: "agrandir";
    color: var(--color-text);
    padding-bottom: 32px;
}

.advantages-other-card {
    border: 1px solid var(--color-text);
    padding: 20px;
    border-radius: 5px;
    max-width: 412px;
    width: 100%;
    color: var(--color-text);
    font-family: "agrandir";
}

.other-card {
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.advantages-other-card h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 12px 0px 12px 0px;
}

.advantages-other-card p {
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
}

.other-btn {
    padding: 60px 0px 60px 0px;
}

.other-btn .btn-secondary {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 700;
}