* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandHeavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-TextBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandLight.otf);
    font-weight: 300;
}

body>*:nth-child(n) {
    background-color: var(--background-primary);
}

body>*:nth-child(2n+3) {
    background-color: var(--background-secondary);
}

:root {
    --background-primary: #110F0F;
    --background-secondary: #000000;
    --color-accent: #FFA800;
    --color-text: #fff;
    --gradient: #9DE8EE 0%, #FA7C0B 49%, #9F8CED 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-primary {
    color: var(--background-secondary);
    padding: 17px 24px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}

.btn-secondary {
    padding: 10px 24px;
    color: var(--color-accent);
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid var(--color-accent);
}

.input-email {
    border: 1px solid var(--color-text);
    width: 320px;
    padding: 16px;
    border-radius: 50px;
    background-color: var(--background-secondary);
    color: var(--color-text);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    padding: 25px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    float: left;
}

.logo h2 {
    color: var(--color-text);
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "agrandir";
    font-weight: 500;
    font-size: 16px;
    gap: 15px;
    align-items: center;
    padding-right: 16px;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: var(--color-text);
}

.main-text {
    width: 100%;
    max-width: 523px;
    margin: 0 auto;
}

.main-text p.gradient {
    font-size: 96px;
    color: transparent;
    background-image: linear-gradient(270deg, var(--gradient));
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
}


.main-text h2 {
    font-family: "agrandir";
    font-weight: 700;
    font-size: 96px;
    color: var(--color-text);
}

.main-text-description {
    font-family: "agrandir";
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    opacity: 60%;
    margin-top: 16px;
    margin-bottom: 32px;
}

.input-main {
    display: flex;
    padding-bottom: 208px;
}

.input-main .btn-primary {
    margin-left: 16px;
}

.text-offer {
    margin: 0 auto;
    text-align: center;
    width: 634px;
}

.text-offer h2 {
    font-weight: 700;
    font-family: "agrandir";
    font-size: 40px;
    color: var(--color-text);
    padding-top: 80px;
    padding-bottom: 24px;
}
/* 
Вот ведь как бывает: вечером он ей подарил букет, а ночью - она ему ;) */

.text-offer p {
    text-align: center;
    color: var(--color-text);
    font-size: 16px;
    font-family: "agrandir";
    font-weight: 400;
    opacity: 60%;
    padding-bottom: 40px;
}

.item-row {
    margin: 0 auto;
    width: 1078px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.advantages {
    margin-bottom: 40px;
    border: 2px solid #A1AEBF;
    border-radius: 5px;
    width: 338px;
    padding: 20px 20px;
}

.advantages h2 {
    padding-bottom: 12px;
    font-family: "agrandir";
    font-size: 28px;
    font-weight: 700;
    color: var(--color-text);
}

.advantages p {
    font-family: "agrandir";
    font-size: 14;
    font-weight: 700;
    color: var(--color-text);
    opacity: 60%;
    padding-bottom: 40px;
}

.advantages img {
    padding-bottom: 20px;
}

/* возможно ты скажешь что на каждом блоке padding-bottom не правильно было ставить,
и повторение старых ошибок,но я по другому хз как делать,если ставить один padding,то оно хуйня получается
еще я уверен что ты скажешь а нахуя ты поставил margin:0 auto; да,но по другому оно не становилось,и почему так,я хуй знает
возможно можно было поставить еще один блок после container и перед text-offer,и туда уже все прописать */