* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandHeavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-TextBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandLight.otf);
    font-weight: 300;
}

body > *:nth-child(n) {
    background-color: var(--background-primary);
}

body > *:nth-child(2n+3) {
    background-color: var(--background-secondary);
}



/* body:nth-child(1n+3) {
    background-color: var(--color-accent);
} */

:root {
    --background-primary: #110F0F;
    --background-secondary: #000000;
    --color-accent: #FFA800;
    --color-text: #fff;
    --gradient: #9DE8EE 0%, #FA7C0B 49%, #9F8CED 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-primary {
    color: var(--background-secondary);
    padding: 17px 24px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}

.btn-secondary {
    padding: 10px 24px;
    color: var(--color-accent);
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid var(--color-accent);
}

.input-email {
    border: 1px solid var(--color-text);
    width: 320px;
    padding: 16px;
    border-radius: 50px;
    background-color: var(--background-secondary);
    color: var(--color-text);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* header {
    background-color: var(--background-primary);
} */

header .container {
    padding: 25px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
}

/* .content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px 100px 0px;
} */

nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    float: left;
}

.logo h2 {
    color: var(--color-text);
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "agrandir";
    font-weight: 500;
    font-size: 16px;
    gap: 15px;
    align-items: center;
    padding-right: 16px;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: var(--color-text);
}

.main-text {
    background-color: var(--background-primary);
    width: 100%;
    max-width: 523px;
    margin: 0 auto;
}

/* section.hero-section {
    background-color: var(--background-primary);
} */

.main-text p.gradient {
    font-size: 96px;
    color: transparent;
    background-image: linear-gradient(270deg, var(--gradient));
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
}


.main-text h2 {
    font-family: "agrandir";
    font-weight: 700;
    font-size: 96px;
    color: var(--color-text);
}

.main-text-description {
    font-family: "agrandir";
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    opacity: 60%;
    margin-top: 16px;
    margin-bottom: 32px;
}

.input-main {
    display: flex;
    padding-bottom: 208px;
}

.input-main .btn-primary {
    margin-left: 16px;
}

/* 
возможно я сейчас написал какую-то полную хуйню,мне кажется что пол проекта работает на костыле,по типу я указал margin 0 auto
в header,d content,и мне кажется что это не правильно,но по другому оно не работает */