* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandHeavy.otf);
    font-weight: 900;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-GrandLight.otf);
    font-weight: 800;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Narrow.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Regular.otf);
    font-weight: 600;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-TextBold.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-Tight.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Agrandir";
    src: url(../fonts/Agrandir-WideLight.otf);
    font-weight: 300;
}

:root {
    --background-primary: #110F0F;
    --background-secondary: #000000;
    --background-not-often: #FFA800;
    --color-text: #fff;
    --gradient: #9DE8EE 0%, #FA7C0B 49%, #9F8CED 100%;
}

body {
    font-family: "agrandir";
    background-color: var(--background-secondary);
}

.text-section {
    width: 1300px;
    margin: 0 auto;
}

.text-test {
    color: var(--color-text);
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 200;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 600;
}

.content {
    width: 1300px;
    margin: 0 auto;
    font-weight: 300;
}

.background-color:nth-child(1) {
    background-color: var(--background-primary);
    color: var(--color-text);
}

.background-color:nth-child(2) {
    color: var(--color-text);
    background-color: var(--background-secondary);
}

.background-color:nth-child(3) {
    color: var(--background-secondary);
    background-color: var(--background-not-often);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.btn-primary {
    color: var(--color-text);
    padding: 17px 24px;
    background-color: var(--background-not-often);
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}

.btn-secondary {
    padding: 10px 24px;
    color: var(--background-not-often);
    background-color: var(--background-secondary);
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid var(--background-not-often);
}

/* но я бы наверное в btn-secondary поставил background-color:transparent; */

.input-email {
    border: 1px solid var(--color-text);
    width: 320px;
    padding: 16px;
    border-radius: 50px;
    background-color: var(--background-secondary);
    color: var(--color-text);
}

h2.text-gradient {
    font-weight: 800;
    font-size: 96px;
    color: transparent;
    background-image: linear-gradient(-18deg, var(--gradient));
    background-clip: text;
    -webkit-background-clip: text;
}
/* я не понимаю как сделать правильно этот градиент,я его вертел вообще как мог */


/* .container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin:0 auto;
    padding: 25px;
    background-color: var(--background-primary);
}

nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    float: left;
}

.logo h2 {
    color: var(--color-text);
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "agrandir";
    font-weight: 500;
    font-size: 16px;
    gap: 15px;
    align-items: center;
}

nav a {
    display: inline-flex;
    text-decoration: none;
    color: var(--color-text);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-secondary {
    margin-left: 15px ;
    background-color: transparent;
    color: var(--background-not-often);
    border: 1px solid var(--background-not-often);
    width: 114px;
    height: 38px;
    border-radius: 50px;
}

.main-text {
    width: 100%;
    background-color: var(--background-primary);
    text-align: center;
}

.main-text h1.gradient {
    color: transparent;
    background-image: linear-gradient(-200deg,var(--gradient));
    background-clip: text;
    -webkit-background-clip: text;
}

.main-text h1 {
    font-family: "agrandir";
    font-weight: 900;
    font-size: 96px;
}


/* у меня были мысли сделать вообще на *background-color:black; типо того,но у меня шото вообще голова не варит 
как это сделать,у меня не получилось сделать нихуя,я не понимаю как мне делать,я не могу на header кинуть
container,оно не будет нормально работать,но я почему то думаю что мне и не надо кидать на header class container
кр4 глянь пж как оно вообще,но мне кажется что вообще все не правильно 
возможно там еще шрифт или что-то такое еще не правильно стоит,я завтра еще пересмотрю,но глянь на само строение
мне оно не нравится*/